<div>
  <div class="h-64">
    <div class="p-4 m-4 bg-purple-600">
      <h1 class="text-2xl font-bold text-white">Tailwind CSS Demo</h1>
    </div>
    <div class="p-4 m-4 bg-purple-300 h-full">
      <h2 class="text-green-900">Have much fun using Tailwind CSS</h2>
    </div>
  </div>


  <div class="fixed bottom-3 right-14 bg-white text-blue-500 flex-1 p:2 sm:p-6 justify-between flex flex-col ">
    <%= button_to "Start Chat", support_chats_path %>
  </div>

</div>
