<div>
  <div class="h-64">
    <div class="p-4 m-4 bg-purple-600">
      <h1 class="text-2xl font-bold text-white">Wonderful Product Website</h1>
    </div>
    <div class="p-4 m-4 bg-purple-300 h-full">
      <h2 class="text-xl">Technical Support</h2>
        <p class="mt-3">We welcome you valued customer.  To consult with an expert click the button.</p>
    </div>
  </div>

  <%= render partial: '/chat_box' %>

</div>
