<div>
  <div class="h-64">
    <div class="p-4 m-4 bg-purple-600">
      <h1 class="text-2xl font-bold text-white">Wonderful Product Website</h1>
    </div>
    <div class="p-4 m-4 bg-purple-300 h-full">
      <h2>Technical Support</h2>
      <% if Current.user.present? %>
        <p class="mt-3">Welcome valued customer, <%= Current.user.name %>.</p>
      <% else %>
        <p class="mt-3">Head <%= link_to "over here", new_session_path %> to sign in</p>
      <% end %>
    </div>
  </div>


  <%= turbo_frame_tag 'chat_window' do %>
    <div class="fixed bottom-3 right-14 bg-white text-blue-500 flex-1 p:2 sm:p-6 justify-between flex flex-col ">
      <%= link_to "Start or continue Chat", new_support_chat_path %>
    </div>
  <% end %>
</div>
