<%= turbo_frame_tag 'chat_window' do %>
  <div class="fixed bottom-3 right-14 bg-white text-blue-500 flex-1 justify-between flex flex-col">
    <div class="relative flex">
      <%= form_with model: @chat do |f| %>
        <%= f.text_field :user_name, placeholder: "What should we call you?", class: "w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600  bg-gray-200 rounded-md py-3" %>
        <div class="absolute right-0 items-center inset-y-0 hidden sm:flex">

          <%= button_tag type: :submit, class: "inline-flex items-center justify-center rounded-lg px-2 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 transform rotate-90">
              <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
            </svg>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>
